
.lp_tel{
	display:block;
}

.lp_web{
	display:block;
}

.reservation{
	background-image: url(../../img/lp/sp/reservation.jpg);
	background-size:300px 130px;
	background-repeat: no-repeat;
	height:130px;
	width:300px;
	margin:0px 0px 10px 10px;
}

.reservation > .area1{
	
}

.reservation > .area1 > .lp_tel{
	height:52px;
	width:134px;
	float:left;
	margin:7px 0px 0px 5px;
}

.reservation > .area1 > .lp_web{
	height:52px;
	width:134px;
	float:left;
	margin:7px 0px 0px 20px;
}

.reservation > .area2{
	margin:18px 0px 0px 90px;
}

.reservation > .area2 > p{
	font-size:10px;
}




