


/*----以下、VIP用セラピストカレンダ用----*/

#calendar_display_therapist_name_title{
	
	width:64px;
	background-color:#4f81bd;
	color:#fff;
	padding-top:5px;
	padding-bottom:0px;
	padding-left:5px;
	border-right:solid 1px #fff;
	border-bottom:solid 1px #fff;
	height:24px;
	
	font-size:10px;
	
	position:absolute;
	top:0px;
	left:0px;
	z-index:999;
	
}

.table_title{
	
	float:left;
	width:50px;
	background-color:#4f81bd;
	color:#fff;
	text-align:center;
	padding-top:5px;
	padding-bottom:0px;
	border-right:solid 1px #fff;
	border-bottom:solid 1px #fff;
	height:24px;
	
	font-size:10px;
	
}

.ichiretsu1_new{
	
	width:64px;
	background-color:#e9edf4;
	padding-top:5px;
	padding-bottom:0px;
	padding-left:5px;
	border-right:solid 1px #fff;
	border-bottom:solid 1px #fff;
	height:24px;
	
	font-size:10px;
	
}

.ichiretsu2_new{
	
	width:64px;
	background-color:#d0d8e8;
	padding-top:5px;
	padding-bottom:0px;
	padding-left:5px;
	border-right:solid 1px #fff;
	border-bottom:solid 1px #fff;
	height:24px;
	
	font-size:10px;
	
}

.open_therapist_info_sp_span{
	
	font-size:10px;
	text-decoration:underline;
	cursor: pointer;
	
}

.batsu1{
	
	float:left;
	width:50px;
	background-color:#ffc000;
	text-align:center;
	padding-top:5px;
	padding-bottom:0px;
	border-right:solid 1px #fff;
	border-bottom:solid 1px #fff;
	height:24px;
	
	font-size:10px;
	
}

.batsu2{
	
	float:left;
	width:50px;
	background-color:#ffc000;
	text-align:center;
	padding-top:5px;
	padding-bottom:0px;
	border-right:solid 1px #fff;
	border-bottom:solid 1px #fff;
	height:24px;
	
	font-size:10px;
	
}

.maru1{
	
	float:left;
	width:50px;
	background-color:#ffc000;
	text-align:center;
	padding-top:5px;
	padding-bottom:0px;
	border-right:solid 1px #fff;
	border-bottom:solid 1px #fff;
	height:24px;
	
	font-size:10px;
	
}

.maru2{
	
	float:left;
	width:50px;
	background-color:#ffc000;
	text-align:center;
	padding-top:5px;
	padding-bottom:0px;
	border-right:solid 1px #fff;
	border-bottom:solid 1px #fff;
	height:24px;
	
	font-size:10px;
	
}

.kuuran1{
	
	float:left;
	width:50px;
	background-color:#e9edf4;
	padding-top:5px;
	padding-bottom:0px;
	border-right:solid 1px #fff;
	border-bottom:solid 1px #fff;
	height:24px;
	
}

.kuuran2{
	
	float:left;
	width:50px;
	background-color:#d0d8e8;
	padding-top:5px;
	padding-bottom:0px;
	border-right:solid 1px #fff;
	border-bottom:solid 1px #fff;
	height:24px;
	
}

.gyou_new{
	
	width:1180px;
	
}

#gyou_nichiji{
	
	width:1180px;
	position:absolute;
	left:70px;
	
	
}

#calendar_display_therapist_name{
	
	position:absolute;
	top:30px;
	
}

#calendar_display_new{
	
	padding:0px 0px 0px 0px;
	position:relative;
	
	width:320px;
	/*height:330px;*/
	overflow-x:hidden;
	overflow-y:hidden;
	
}

#calendar_display_left{
	
	float:left;
	width:70px;
	
}

#calendar_display_right{
	
	float:left;
	
}

#calendar_display_content{
	
	width:250px;
	/*height:300px;*/
	overflow-x:scroll;
	/*overflow-y:scroll;*/
	overflow-y:hidden;
	padding:30px 0px 0px 70px;
	
}

/*----以上、VIP用セラピストカレンダ用----*/


