


#lp4_mail{
	
	margin:0px 0px 160px 0px;
	
}

#lp4_mail > .title{
	
	border-left:solid 5px #beab71;
	padding:2px 0px 2px 10px;
	
	margin:20px 0px 10px 170px;
	
}

#lp4_mail > .title > span{
	
	color:red;
	font-size:10px;
	
}

#lp4_mail > .title_2{
	
	margin:20px 0px 0px 170px;
	
}

#lp4_mail > .title_2 > .left_1{
	
	border-left:solid 5px #beab71;
	padding:2px 0px 2px 10px;
	margin:0px 0px 0px 0px;
	
	float:left;
	width:270px;
	
}

#lp4_mail > .title_2 > .left_1 > span{
	
	color:red;
	font-size:10px;
	
}

#lp4_mail > .title_2 > .left_2{
	
	float:left;
	margin:10px 0px 0px 0px;
	
}

#lp4_mail > .message{
	
	margin:0px 0px 0px 170px;
	
}

#lp4_mail > .message > span{
	
	color:red;
	font-size:10px;
	
}

#lp4_mail > .error{
	
	color:red;
	text-align:center;
	
}

#lp4_mail > .content_1{
	
	margin:0px 0px 0px 170px;
	
}

#lp4_mail > .content_1 > .left_1{
	
	float:left;
	width:280px;
	
}

#lp4_mail > .content_1 > .left_2{
	
	float:left;
	margin:0px 0px 0px 0px;
	
}

#lp4_mail > .content_2{
	
	margin:0px 0px 0px 170px;
	
}

#lp4_mail > .content_3{
	
	margin:0px 0px 0px 170px;
	
}

#lp4_mail > .content_3 > .left_1{
	
	float:left;
	width:280px;
	
}

#lp4_mail > .content_3 > .left_2{
	
	float:left;
	margin:0px 0px 0px 0px;
	
}

#lp4_mail > .content_4{
	
	margin:0px 0px 0px 170px;
	
}

#lp4_mail > .content_5{
	
	margin:0px 0px 0px 170px;
	
}

#lp4_mail > .content_5 > .left_1{
	
	float:left;
	width:280px;
	
}

#lp4_mail > .content_5 > .left_2{
	
	float:left;
	
}

#lp4_mail > .content_6{
	
	margin:0px 0px 0px 170px;
	
}

#lp4_mail > .content_7{
	
	margin:0px 0px 0px 170px;
	
}

#lp4_mail > .content_8{
	
	margin:0px 0px 10px 170px;
	
}

#lp4_mail > .content_9{
	
	margin:0px 0px 0px 170px;
	
}

#lp4_mail > .content_10{
	
	margin:0px 0px 0px 170px;
	
}

#lp4_mail > .content_11{
	
	text-align:center;
	margin:20px 0px 0px 0px;
	
}



