/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    color: #666;
    font-family:"游ゴシック Medium",YuGothic,YuGothicM,"Hiragino Kaku Gothic ProN","Hiragino Kaku Gothic Pro",メイリオ,Meiryo,sans-serif;
    line-height:1;
    -webkit-text-size-adjust: 100%;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

a:link { color: #a99e44; }
a:visited { color: #a99e44; }
a:hover { color: #a99e44; }
a:active { color: #a99e44; }

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

img{
    display:block;
}

body > * {
    width: 750px;
    margin: 0 auto;
    font-size: 24px;
}

header img{
    float: left;
    margin: 25px 37px 0 25px;
}

h1{
    font-weight: normal;
    line-height: 130%;
    padding-top: 26px;
}

header div{
    height: 20px;
    background-color: #c9bf6f;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    padding: 10px 30px;
}

header div p:nth-last-child(n+2){
    float: left;
    margin-right: 20px;
}

header div p:last-child{
    float: right;
}

.main_text{
    background-color: #e7e7e7;
    padding: 10px 20px;
}

h2{
    font-size: 27px;
    font-weight: normal;
    line-height: 130%;
}

.hajimete{
    padding-top: 23px;
}

.hajimete p{
    font-family: 游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN","Hiragino Mincho Pro",HGS明朝E,メイリオ,Meiryo,"Sawarabi Mincho",serif;
    font-size: 52px;
    color: #000;
    line-height: 130%;
    background: linear-gradient(transparent 95%, #eddb93 95%);
}

.hajimete p:first-child{
    width: 676px;
    margin: 0 auto;
    margin-bottom: 23px;
    letter-spacing: -0.072em;
}

.hajimete_img{
    width: 700px;
    margin: 0 auto;
}

.hajimete_img img:nth-child(1){

}

.hajimete_img img:nth-child(2){
    margin: 30px 0;
}

.tp_text{
    padding: 23px 0;
}

.tp_text p{
    font-family: 游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN","Hiragino Mincho Pro",HGS明朝E,メイリオ,Meiryo,"Sawarabi Mincho",serif;
    font-size: 52px;
    color: #000;
    line-height: 130%;
    background: linear-gradient(transparent 95%, #eddb93 95%);
}

.tp_text p:first-child{
    width: 676px;
    margin: 0 auto;
}

.tp_text p:last-child{
    width: 572px;
    margin: 0 auto;
}

.now_info{
    background-color: #ff0;
    text-align: center;
    padding: 15px 0;
    color: #000;
}

.now_info p:nth-child(1){
    font-size: 39px;
}

.now_info p span{
    color: #fe0000;
}

.now_info p strong{
    font-size: 69px;
}

.now_info p:nth-child(2){
    font-size: 29px;
}

.now_tp{
    background-color: #818181;
    height: 340px;
}

.now_tp_box{
    background-color: #fff;
    margin: 35px 15px;
}

.now_tp_box img{
    width: auto;
    height: 110px;
    padding: 30px 17px 20px 20px;
    float: left;
}

.now_tp_box p:nth-child(9){
    font-size: 40px;
    float: left;
    margin: 40px 0 0 0;
    color: #e02254;
    font-weight: bold;
}

.now_tp_box p:nth-child(10){
    float: right;
    margin: 40px 20px 0 0;
    padding: 16px 0 0 0;
}

.now_tp_box p:nth-child(11){
    color: #fff;
    float: left;
    background-color: #dc8a9f;
    width: 150px;
    padding: 7px 0;
    text-align: center;
    margin: 14px 12px 20px 0;
    border-radius: 5px;
}

.now_tp_box p:nth-child(12){
    color: #fff;
    float: left;
    background-color: #dc8a9f;
    width: 150px;
    padding: 7px 0;
    text-align: center;
    margin: 14px 12px 20px 0;
    border-radius: 5px;
}

.now_tp_box p:nth-child(13){
    color: #fff;
    float: left;
    background-color: #dc8a9f;
    width: 150px;
    padding: 7px 0;
    text-align: center;
    margin: 14px 12px 20px 0;
    border-radius: 5px;
}

.now_tp_box p:nth-child(14){
    float: left;
    margin: 0 20px 20px 20px;
    line-height: 130%;
}

.now_tp_box p:nth-child(9) span{
    font-size: 24px;
}

/* モーダルCSS */
.modalArea {
    display: none;
    position: fixed;
    z-index: 10; /*サイトによってここの数値は調整 */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
.modalBg {
    width: 100%;
    height: 100%;
    background-color: rgba(30,30,30,0.9);
}

.modalWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    width: 80%;
    max-width: 600px;
    padding: 12px 20px 32px 20px;
    background-color: #fff;
    height : 80%;
    overflow : auto;
}

.closeModal {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    cursor: pointer;
}

.result_box_1{
    padding: 0 0 12px 0;
    border-bottom: 2px solid #e7e7e7;
}

.result_box_1 img{
    width: auto;
    height: 110px;
    float: left;
}

.result_box_1 p:nth-child(2){
    float: left;
    font-size: 40px;
    color: #e02254;
    font-weight: bold;
    padding: 35px 0 35px 16px;
}

.result_box_1 p:nth-child(2) span{
    font-size: 20px;
}

.result_box_1 p:nth-child(3){
    float: right;
    padding: 50px 0 36px 0;
}

.result_box_2{
    border-bottom: 2px solid #e7e7e7;
}

.menu_box_2{
    padding: 16px 0 16px 0;
    width: 380px;
    margin: 0 auto;
}

.menu_box_2 p:nth-child(1){
    color: #998b1c;
    font-size: 22px;
    text-align: center;
    padding-bottom: 10px;
}

.menu_2{
    color: #fff;
    float: left;
    background-color: #dc8a9f;
    width: 120px;
    padding: 6px 0;
    text-align: center;
    border-radius: 5px;
}

.menu_box_2 p:nth-child(3n){
    color: #fff;
    float: left;
    background-color: #dc8a9f;
    width: 120px;
    padding: 6px 0;
    text-align: center;
    margin: 0 10px 0 10px;
    border-radius: 5px;
}

.result_box_3{
    border-bottom: 2px solid #e7e7e7;
}

.menu_box_3{
    padding: 16px 0 10px 0;
    width: 510px;
    margin: 0 auto;
}

.menu_box_3 p:nth-child(1){
    color: #998b1c;
    font-size: 22px;
    text-align: center;
    padding-bottom: 10px;
}

.menu_3{
    color: #fff;
    float: left;
    background-color: #dc8a9f;
    width: 120px;
    padding: 6px 0;
    text-align: center;
    margin: 0 0 10px 0;
    border-radius: 5px;
}

.menu_box_3 p:nth-child(2n){
    color: #fff;
    float: left;
    background-color: #dc8a9f;
    width: 120px;
    padding: 6px 0;
    text-align: center;
    margin: 0 10px 10px 0;
    border-radius: 5px;
}

.menu_box_3 p:nth-child(3){
    color: #fff;
    float: left;
    background-color: #dc8a9f;
    width: 120px;
    padding: 6px 0;
    text-align: center;
    margin: 0 10px 10px 0;
    border-radius: 5px;
}

.menu_box_3 p:nth-child(7){
    color: #fff;
    float: left;
    background-color: #dc8a9f;
    width: 120px;
    padding: 6px 0;
    text-align: center;
    margin: 0 10px 10px 0;
    border-radius: 5px;
}

.menu_box_3 p:nth-child(11){
    color: #fff;
    float: left;
    background-color: #dc8a9f;
    width: 120px;
    padding: 6px 0;
    text-align: center;
    margin: 0 10px 10px 0;
    border-radius: 5px;
}

.menu_box_3 p:nth-child(15){
    color: #fff;
    float: left;
    background-color: #dc8a9f;
    width: 120px;
    padding: 6px 0;
    text-align: center;
    margin: 0 10px 10px 0;
    border-radius: 5px;
}

.menu_box_3 p:nth-child(19){
    color: #fff;
    float: left;
    background-color: #dc8a9f;
    width: 120px;
    padding: 6px 0;
    text-align: center;
    margin: 0 10px 10px 0;
    border-radius: 5px;
}

.result_box_4 p:nth-child(1){
    float: left;
    margin: 32px 16px 0px 16px;
}

.slick-slide {
    transition: .3s ease;
}
.slick-slide:not(.slick-current) {
    opacity: .5;
}

.massage_title{
    font-family: 游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN","Hiragino Mincho Pro",HGS明朝E,メイリオ,Meiryo,"Sawarabi Mincho",serif;
    font-size: 52px;
    color: #998b1c;
    text-align: center;
    margin: 60px 0 25px 0;
}

.massage_text_top p{
    margin: 0 25px;
    line-height: 130%;
}

.massage{
    padding: 25px 25px 0 25px;
}

.massage div{
    width: 220px;
    float: left;
}

.massage div:nth-child(2), .massage div:nth-child(5){
    margin: 0 20px;
}

.massage div p{
    text-align: center;
    padding: 12px 0 25px;
}

.massage_text_btm p{
    margin: 10px 25px 50px 25px;
    line-height: 130%;
}

.omakase{
    background-image: url("../img/omakase.jpg");
    width: 750px;
    height: 588px;
}

.omakase div p:first-child{
    font-family: 游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN","Hiragino Mincho Pro",HGS明朝E,メイリオ,Meiryo,"Sawarabi Mincho",serif;
    font-size: 52px;
    color: #998b1c;
    padding: 60px 0 25px 25px;
}

.omakase div p:last-child{
    width: 420px;
    margin-left: 25px;
    line-height: 130%;
}

.manzokudo{
    background-color: #818181;
}

.manzokudo img{
    width: 603px;
    margin: 0 auto;
    padding: 60px 0;
}

.voice_title{
    background-color: #818181;
}

.voice_title p{
    color: #fff;
    text-align: center;
}

.voice_title p:first-child{
    font-family: 游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN","Hiragino Mincho Pro",HGS明朝E,メイリオ,Meiryo,"Sawarabi Mincho",serif;
    font-size: 52px;
    padding: 0 0 25px ;
}

.voice_title p:last-child{
    padding-bottom: 25px;
}

.voice_list{
    background-color: #818181;
    padding-bottom: 25px;
}
.voice_list div{
    width: 700px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 20px;
}

.voice_list div p:first-child{
    padding: 20px;
    line-height: 130%;
}

.voice_list div p:last-child{
    font-size: 22px;
    color: #a99e44;
    float: right;
    padding: 0 20px 20px 0;
}

.voice_list img{
    width: 84px;
    margin: 0 auto;
}

.course_title{
    font-family: 游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN","Hiragino Mincho Pro",HGS明朝E,メイリオ,Meiryo,"Sawarabi Mincho",serif;
    font-size: 52px;
    color: #998b1c;
    text-align: center;
    margin: 60px 0 25px 0;
}

.course_text{
    padding: 0 25px 25px 25px;
    line-height: 130%;
}

.price{
    width: 640px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.area_title{
    background-color: #e7e7e7;
    padding-top:60px;
    line-height: 130%;
}

.area_title p{
    padding: 0 25px;
}

.area_title p:first-child{
    text-align: center;
    color: #998b1c;
    font-family: 游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN","Hiragino Mincho Pro",HGS明朝E,メイリオ,Meiryo,"Sawarabi Mincho",serif;
    font-size: 52px;
    padding: 0 0 25px ;
}

.area_title img{
    width: 690px;
    margin: 0 auto;
    padding: 25px 0;
}

.price_text{
    background-color: #e7e7e7;
    text-align: center;
    padding-bottom: 15px;
}

.price_box_1{
    background-color: #e7e7e7;
}

.price_box_1 p{
    text-align: center;
    padding: 15px 0;
}

.price_box_1 p:nth-child(1){
    color: #fff;
    background-color: #950000;
    width: 580px;
    margin: 0 auto;
}

.price_box_1 p:nth-child(3){
    padding-bottom: 50px;
}

.price_box_2{
    background-color: #e7e7e7;
}

.price_box_2 p{
    text-align: center;
    padding: 15px 0;
}

.price_box_2 p:nth-child(1){
    color: #fff;
    background-color: #c66a10;
    width: 580px;
    margin: 0 auto;
}

.price_box_2 p:nth-child(3){
    padding-bottom: 50px;
}

.price_box_3{
    background-color: #e7e7e7;
}

.price_box_3 p{
    text-align: center;
    padding: 15px 0;
}

.price_box_3 p:nth-child(1){
    color: #fff;
    background-color: #a99e44;
    width: 580px;
    margin: 0 auto;
}

.price_box_3 p:nth-child(3){
    padding-bottom: 50px;
}

.goriyou_title{
    font-family: 游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN","Hiragino Mincho Pro",HGS明朝E,メイリオ,Meiryo,"Sawarabi Mincho",serif;
    font-size: 52px;
    color: #998b1c;
    text-align: center;
    margin: 60px 0 25px 0;
}

.step_box{
    padding-bottom: 50px;
}

.step_box img{
    width: 211px;
    margin: 0 auto;
}

.step_box p:nth-child(2){
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    padding: 15px 0 20px 0;
}

.step_box p:nth-child(3){
    line-height: 130%;
    width: 700px;
    margin: 0 auto;
}

.question{
    background-color: #818181;
}

.question_title{
    background-color: #818181;
    font-family: 游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN","Hiragino Mincho Pro",HGS明朝E,メイリオ,Meiryo,"Sawarabi Mincho",serif;
    font-size: 52px;
    color: #fff;
    text-align: center;
    padding: 60px 0 25px 0;
}

.question_box{
    background-color: #818181;
    padding-bottom: 35px;

}

.question_box div{
    background-color: #fff;
    width: 650px;
    margin: 0 auto;
    padding: 30px 25px;
    line-height: 130%;
}

.question_box div p:nth-child(1){
    font-size: 27px;
    color: #a99e44;
    border-bottom: solid 2px #e7e7e7;
    padding-bottom: 15px;
}

.question_box div p:nth-child(2){
    margin-top: 20px;
}

.question_text{
    background-color: #818181;
}

.question_text p{
    width: 700px;
    margin: 0 auto;
    color: #fff;
    padding-bottom: 50px;
    line-height: 130%;
}

.chushaku{
    margin: 15px 25px 50px;
    line-height: 130%;
}

.link{
    font-size: 27px;
    color: #a99e44;
    text-align: center;
    margin-bottom: 20px;
}

.copy_light{
    text-align: center;
    margin-bottom: 20px;
}

/* フッターの固定 */
div#footer-fixed
{
    position: fixed;            /* フッターの固定 */
    bottom: 0px;                /* 位置(下0px) */
    left: 0px;                  /* 位置(左0px) */
    width: 100%;                /* 横幅100%　*/
    height: 118px;              /* 縦幅140px */
}
 
div#footer-bk
{
	background-color:#000;     /* 背景色(黒) */
	padding:15px 0 15px;       /* 上10px、下20pxをあける */
	height:118px;              /* 縦の高さ140px */
	width:100%;                /* 横の幅を100% */
}
 
div#footer { 
	/*border: 5px solid #fff;*/    /* 表示領域を白枠で囲う */
	height: 100%;              /* 縦の表示領域はheader-bkと同じ */
	width: 750px;              /* 横の幅970px */
	margin: auto;              /* 中央揃え */
}

#footer a{
    float: left;
}

#footer a:nth-child(1){
    margin: 0 30px 0 25px;
}