
*{
	font-size:14px;
	padding:0;
	margin: 0;
}

body{
	margin:0px auto 0px auto;
	width:320px;
}

li {
	list-style-type: none;
}

#wrapper{



}

.clear{

	clear:both;

}

.btn_image{

	cursor: pointer;

}

/*-----------------------------*/

#top_name_disp{

	text-align:center;
	padding:10px 0px 10px 0px;

	background:#000;
	color:#fff;

}

/*-----------------------------*/

#top_menu{

	margin:10px 0px 0px 10px;

}

#top_menu > .content_1{



}

#top_menu > .content_1 > .left_1{

	float:left;

}

#top_menu > .content_1 > .left_2{

	float:left;
	margin:0px 0px 0px 20px;

}

#top_menu > .content_2{

	margin:10px 0px 0px 0px;

}

#top_menu > .content_2 > .left_1{

	float:left;

}

#top_menu > .content_2 > .left_2{

	float:left;
	margin:0px 0px 0px 25px;

}

/*-----------------------------*/

#footer{

	text-align:center;
	padding:10px 0px 10px 0px;

	background:#000;
	color:#fff;

	font-size:10px;

}

/*-----------------------------*/

#mail_content{



}

#mail_content > .error{

	margin:10px 0px 0px 0px;

}

#mail_content > .content_1{

	background:#b48c53;
	color:#fff;
	margin:10px 0px 0px 0px;
	padding:5px 10px 5px 10px;
	width:80px;
	text-align:center;

}

#mail_content > .content_2{

	margin:0px 0px 0px 0px;

}

#mail_content > .content_2 > .left_1{

	float:left;
	color:#b48c53;
	margin:12px 0px 0px 0px;

}

#mail_content > .content_2 > .left_2{

	float:left;
	margin:10px 0px 0px 10px;

}

#mail_content > .content_3{

	margin:10px 0px 0px 0px;
	color:#b48c53;

}

#mail_content > .content_5{

	margin:5px 0px 0px 0px;

}

#mail_content > .content_4{

	margin:30px 0px 20px 0px;

}

#mail_content > .content_4 > .left_1{

	float:left;
	margin:0px 0px 0px 30px;

}

#mail_content > .content_4 > .left_2{

	float:left;
	margin:0px 0px 0px 30px;

}

/*-----------------------------*/

#page_index{



}

#page_index > .title{

	background:#004b12;
	margin:20px 0px 0px 0px;
	padding:7px 0px 7px 10px;

}

#page_index > .title_2{

	background:#004b12;
	margin:0px 0px 0px 0px;
	padding:7px 0px 7px 10px;

}

#page_index > .content_1{

	margin:30px 0px 20px 0px;

}

#page_index > .content_1 > .left_1{

	float:left;
	margin:0px 0px 0px 20px;

}

#page_index > .content_1 > .left_2{

	float:left;
	margin:0px 0px 0px 20px;

}

#page_index > .content_2{

	margin:20px 0px 30px 0px;
	text-align:center;

}

/*-----------------------------*/

#page_work_start{



}

#page_work_start > .title_bar{

	background:#004b12;
	padding:7px 0px 7px 10px;
	margin:15px 0px 0px 0px;

}

#page_work_start > .no_attendance{

	text-align:center;
	margin:30px 0px 30px 0px;

}

/*-----------------------------*/

#page_operation_list{



}

#page_operation_list > .title_bar{

	background:#004b12;
	margin:20px 0px 0px 0px;
	padding:8px 0px 8px 10px;

}

#page_operation_list > .content_1{

	text-align:center;
	margin:20px 0px 0px 0px;

}

#page_operation_list > .content_2{

	margin:20px 0px 0px 0px;

}

#page_operation_list > .content_2 > .left_1{

	float:left;
	background:#0051e3;
	color:#fff;
	width:140px;
	text-align:center;
	padding:5px 0px 5px 0px;

}

#page_operation_list > .content_2 > .left_2{

	float:left;
	width:140px;
	text-align:right;
	padding:5px 0px 5px 0px;

}

#page_operation_list > .content_3{

	margin:10px 0px 0px 0px;

}

#page_operation_list > .content_3 > .left_1{

	float:left;
	background:#b48c53;
	color:#fff;
	width:140px;
	text-align:center;
	padding:5px 0px 5px 0px;

}

#page_operation_list > .content_3 > .left_2{

	float:left;
	width:140px;
	text-align:right;
	padding:5px 0px 5px 0px;

}

#page_operation_list > .content_4{

	margin:10px 0px 0px 0px;

}

#page_operation_list > .content_4 > .left_1{

	float:left;
	background:#b48c53;
	color:#fff;
	width:140px;
	text-align:center;
	padding:5px 0px 5px 0px;

}

#page_operation_list > .content_4 > .left_2{

	float:left;
	width:140px;
	text-align:right;
	padding:5px 0px 5px 0px;

}

#page_operation_list > .content_5{

	margin:20px 0px 20px 0px;
	text-align:center;

}

#page_operation_list > .content_6{

	margin:0px 0px 50px 0px;

}

#page_operation_list > .content_6 > .gyou{

	background:#fff;
	padding:10px 0px 10px 60px;

}

#page_operation_list > .content_6 > .gyou > a{

	color:#b48c53;

}

#page_operation_list > .content_6 > .gyou2{

	background:#f9f9f9;
	padding:10px 0px 10px 60px;

}

#page_operation_list > .content_6 > .gyou2 > a{

	color:#b48c53;

}

/*-----------------------------*/

#page_operation_detail{

	margin:0px 0px 30px 0px;

}

#page_operation_detail > .title_bar{

	background:#004b12;
	margin:20px 0px 0px 0px;
	padding:8px 0px 8px 10px;

}

#page_operation_detail > .content_1{

	text-align:center;
	background:#e1ffdf;
	padding:10px 0px 10px 0px;

}

#page_operation_detail > .content_2{

	margin:10px 0px 0px 0px;

}

#page_operation_detail > .content_2 > .left_1{

	float:left;
	width:120px;
	text-align:right;
	color:#b1884d;

}

#page_operation_detail > .content_2 > .left_2{

	float:left;
	width:100px;
	text-align:right;

}

#page_operation_detail > .content_2 > .left_3{

	float:left;
	width:35px;
	margin-left:5px;

	text-align:right;

}

/*--------------------------*/

#operation_detail_top{

	margin:0px 0px 30px 10px;
	padding:0px 0px 15px 0px;
	border-bottom:solid 2px blue;
}

#operation_detail_top .block{

	padding:10px 0px 0px 0px;
	color:blue;

}

#operation_detail_top .block .left{

	float:left;
	width:115px;
	text-align:right;

}

#operation_detail_top .block .right{

	float:left;
	width:155px;
	text-align:left;
	margin-left:10px;

}

#operation_detail_content{

	margin:0px 20px 0px 20px;

}

#operation_detail_content .block{

	padding:15px 0px 15px 0px;
	border-bottom:solid 2px blue;

}

#operation_detail_content .block .gyou{

	padding:5px 0px 0px 0px;

}

#operation_detail_bottom{

	margin:30px 20px 0px 20px;
	font-size:12px;
}

#operation_detail_repeater{

	margin:20px 20px 0px 20px;
	padding:0px 0px 0px 0px;
	border-bottom:dotted 1px #aaa;

}

#operation_detail_repeater .block{

	padding:0px 0px 20px 0px;

}

/*--------------------------*/

.title_bar{

	padding:5px 0px 5px 10px;
	margin:20px 0px 10px 0px;
	background:#f79646;
	color:#fff;
	font-weight:bold;
	border:solid 2px #b66d31;

}

.title_bar > a{

	color:#fff;

}

.title_bar2{

	padding:5px 0px 5px 10px;
	margin:20px 0px 10px 0px;
	background:#8064a2;
	color:#fff;
	font-weight:bold;
	border:solid 2px #5c4776;

}

.title_bar2 > a{

	color:#fff;

}

/*-----------------------------*/

#shift_regist_check_all{


}

#shift_regist_check_all > .content_1{


}

#shift_regist_check_all > .content_2{

	margin:10px 0px 10px 70px;

}

#shift_regist_check_all > .content_2 > .left_1{

	float:left;

}

#shift_regist_check_all > .content_2 > .left_2{

	float:left;
	margin:0px 0px 0px 10px;

}

.shift_regist_check{

	float:left;
	margin:0px 5px 0px 0px;
}

.shift_regist_time{

	float:left;

}

.shift_regist_select_1{

	float:left;
	padding:0px 0px 0px 10px;

}

.shift_regist_select_2{

	float:left;
	padding:0px 0px 0px 10px;

}

/*-----------------------------*/

.shift_list_time{

	font-size:12px;
	width:165px;
	float:left;

}

.shift_list_time > .message{

	font-size:10px;
	color:red;
	padding-left:5px;

}

.shift_list_right_area_1{

	float:left;
	width:105px;

}

.shift_list_right_area_2{

	width:70px;
	float:left;
	padding-left:40px;

}

.shift_list_right_area_2 > input{

	font-size:12px;
	padding:5px 5px 5px 5px;

}

.shift_list_right_area_kekkin{

	width:45px;
	float:left;
	font-size:12px;

	padding-left:0px;

}

.shift_list_right_area_kakutei{

	width:45px;
	float:left;

	padding-left:0px;

}

.shift_list_right_area_fusyounin{

	width:45px;
	font-size:10px;
	float:left;

	padding-left:0px;

}

.shift_list_right_area_shimekiri{

	width:45px;
	float:left;
	font-size:12px;

	padding-left:0px;

}

.shift_list_right_area_kari{

	width:45px;
	float:left;
	font-size:12px;

	padding-left:0px;

}

.shift_list_right_area_btn{

	float:left;

}

.shift_list_right_area_btn > input{

	font-size:12px;
	padding:5px 5px 5px 5px;

}

.shift_list_comment{

	color:red;
	padding:5px 0px 0px 40px;
	font-size:12px;

}

/*-----------------------------*/
