
*{
	font-size:14px;
	padding:0;
	margin: 0;
}

body{
	margin:0px auto 0px auto;
	width:240px;
}

li {
	list-style-type: none;
}

#wrapper{
	
	padding:0px 10px 0px 10px;
	width:218px;
	border:solid 1px #eee;
	
}

#therapist_list{
	line-height:160%;
	padding-top:10px;
}

#therapist_list a{
	font-size:12px;
}

.error li{
	color:red;
}

#top_staff_menu{
	
}

#top_staff_menu a{
	font-size:12px;
}

#comment_list{
	padding-top:10px;
}

#comment_list .time{
	padding-top:10px;
}

#comment_list .name{
	padding-top:10px;
}

#comment_list .content{
	padding:10px 0px 10px 0px;
}

.clear{
	
	clear:both;
	
}

/*-----------------------------*/

.shift_list_time{
	
	font-size:12px;
	width:220px;
	float:left;
	
}

.shift_list_time > .message{
	
	font-size:10px;
	color:red;
	padding-left:5px;
	
}

.shift_list_right_area_1{
	
	float:left;
	width:120px;
	
}

.shift_list_right_area_2{
	
	width:80px;
	float:left;
	padding-left:40px;
	
}

.shift_list_right_area_2 > input{
	
	font-size:14px;
	
}

.shift_list_right_area_kekkin{
	
	width:40px;
	float:left;
	font-size:12px;
	
}

.shift_list_right_area_kakutei{
	
	width:40px;
	float:left;
	
}

.shift_list_right_area_fusyounin{
	
	width:40px;
	font-size:10px;
	float:left;
	
}

.shift_list_right_area_shimekiri{
	
	width:40px;
	float:left;
	font-size:12px;
	
}

.shift_list_right_area_kari{
	
	width:40px;
	float:left;
	
}

.shift_list_right_area_btn{
	
	float:left;
	
}

.shift_list_right_area_btn > input{
	
	font-size:14px;
	
}

.shift_list_comment{
	
	color:red;
	padding:5px 0px 0px 40px;
	font-size:12px;
	
}

/*-----------------------------*/

.shift_regist_time{
	
	float:left;
	font-size:10px;
}

.shift_regist_select_1{
	
	float:left;
	padding:0px 0px 0px 10px;
	
}

.shift_regist_select_2{
	
	float:left;
	padding:0px 0px 0px 10px;
	
}

/*-----------------------------*/

.title_bar{
	
	padding:5px 0px 5px 10px;
	margin:20px 0px 10px 0px;
	background:#f79646;
	color:#fff;
	font-weight:bold;
	border:solid 2px #b66d31;
	font-size:12px;
	
}

.title_bar2{
	
	padding:5px 0px 5px 10px;
	margin:20px 0px 10px 0px;
	background:#8064a2;
	color:#fff;
	font-weight:bold;
	border:solid 2px #5c4776;
	font-size:12px;
	
}

.title_bar2 > a{
	
	color:#fff;
	font-size:12px;
	
}

.title_bar > a{
	
	color:#fff;
	font-size:12px;
	
}

/*----------------------------*/

#top_message_disp{
	
	
	
}

#top_message_disp .honbu_message_box{
	
	float:right;
	border:solid 3px #4f81bd;
	border-radius:10px 10px 10px 10px;
	padding:10px;
	width:160px;
	margin:0px 7px 0px 0px;
	font-size:10px;
	
}

#top_message_disp .honbu_message_fuki{
	
	float:right;
	position: absolute;
	top:8px;
	right:0px;
	
}

#top_message_disp .therapist_message_fuki{
	
	float:left;
	position: absolute;
	top:15px;
	left:0px;
	
}

#top_message_disp .therapist_message_box{
	
	float:left;
	border:solid 3px #9bbb59;
	border-radius:10px 10px 10px 10px;
	padding:10px;
	width:160px;
	margin:0px 0px 0px 7px;
	font-size:10px;
	
}

/*----------------------------*/





















