
.image_btn{
	
	cursor: pointer;
	
}

.a_underline{
	
	text-decoration: underline;
	
}

/*---------------------------*/

#vip_menu_2{
	
	margin:0px 20px 0px 20px;
	padding:0px 0px 10px 20px;
	border-bottom:solid 1px #e5e5e5;
	
}

/*---------------------------*/

#vip_menu{
	
	margin:10px 0px 20px 0px;
	
}

#vip_menu > .left_1{
	
	float:left;
	margin:20px 26px 0px 26px;
	
}

#vip_menu > .left_2{
	
	float:left;
	
}

#vip_menu > .left_3{
	
	float:left;
	
}

#vip_menu > .left_4{
	
	float:left;
	
}

#vip_menu > .left_5{
	
	float:left;
	
}

#vip_menu > .bar{
	
	
	
}

/*---------------------------*/

#password_set{
	
	margin:0px 30px 20px 30px;
	
}

#password_set > .page_title{
	
	padding:10px 0px 10px 25px;
	font-size:16px;
	color:#fff;
	background-image: url(../../img/ssl/vip/password/title_bar.jpg);
	background-repeat: no-repeat;
	
}

#password_set > .complete{
	
	text-align:center;
	margin:50px 0px 100px 0px;
	font-size:16px;
	
}

#password_set > .wrapper{
	
	font-size:14px;
	
}

#password_set > .wrapper > .error{
	
	text-align:center;
	padding:10px 0px 0px 0px;
	
}

#password_set > .wrapper > .content_1{
	
	margin:10px 0px 0px 0px;
	
}

#password_set > .wrapper > .content_2{
	
	margin:30px 0px 0px 0px;
	
}

#password_set > .wrapper > .content_2 > .left_1{
	
	float:left;
	width:90px;
	margin:0px 0px 0px 250px;
	
}

#password_set > .wrapper > .content_2 > .left_1_2{
	
	float:left;
	width:130px;
	margin:0px 0px 0px 210px;
	
}

#password_set > .wrapper > .content_2 > .left_2{
	
	float:left;
	
}

#password_set > .wrapper > .content_3{
	
	margin:20px 0px 0px 0px;
	
}

#password_set > .wrapper > .content_3 > .left_1{
	
	float:left;
	width:90px;
	padding:15px 0px 0px 250px;
	
}

#password_set > .wrapper > .content_3 > .left_1_2{
	
	float:left;
	width:130px;
	padding:0px 0px 0px 210px;
	
}

#password_set > .wrapper > .content_3 > .left_2{
	
	float:left;
	
}

#password_set > .wrapper > .content_3 > .left_2 > .one_1{
	
	
	
}

#password_set > .wrapper > .content_3 > .left_2 > .one_2{
	
	
	
}

#password_set > .wrapper > .content_4{
	
	text-align:center;
	margin:40px 0px 60px 0px;
	
}

/*---------------------------*/

.input_password{
	
	padding:2px 0px 2px 0px;
	font-size:16px;
	
}

/*--------------------------------------*/

.selected_paging_num_box a{
	display:block;
	text-decoration:none;
	float:left;
	margin-left:10px;
	border:solid 2px #999;
	font-size:14px;
	font-weight:bold;
	padding:5px 10px 5px 10px;
	background-color:#a3a3a3;
	color:#fff;
}

.selected_paging_num_box a:hover{
	display:block;
	text-decoration:none;
	float:left;
	margin-left:10px;
	border:solid 2px #999;
	font-size:14px;
	font-weight:bold;
	padding:5px 10px 5px 10px;
	background-color:#999;
}

.paging_num_box a{
	display:block;
	text-decoration:none;
	float:left;
	margin-left:10px;
	border:solid 2px #e5e3e4;
	font-size:14px;
	font-weight:bold;
	padding:5px 10px 5px 10px;
	background:#e5e3e4;
	color:#fff;
}

.paging_num_box a:hover{
	display:block;
	text-decoration:none;
	float:left;
	margin-left:10px;
	border:solid 2px #999;
	font-size:14px;
	font-weight:bold;
	padding:5px 10px 5px 10px;
	background-color:#999;
}

.paging_num_forward a{
	display:block;
	float:left;
	margin-left:10px;
	font-size:14px;
	padding:5px 10px 5px 15px;
	text-decoration:underline;
}

.paging_num_next a{
	display:block;
	float:left;
	margin-left:15px;
	font-size:14px;
	padding:5px 10px 5px 10px;
	text-decoration:underline;
}

.paging_num_dod {
	display:block;
	float:left;
	font-size:14px;
	font-weight:bold;
	margin:13px 0px 0px 10px;
}

/*--------------------------------------*/

#history{
	
	margin:0px 30px 20px 30px;
	
}

#history > .page_title{
	
	padding:10px 0px 10px 25px;
	font-size:16px;
	color:#fff;
	background-image: url(../../img/ssl/vip/history/title_bar.jpg);
	background-repeat: no-repeat;
	
}

#history > .message{
	margin:10px 0px 0px 0px;
	line-height:160%;
	font-size:14px;
}

#history > .history_paging{
	margin:0px 0px 50px 150px;
}

#history > .list{
	margin:30px 0px 0px 0px;
}

#history > .list > .one{
	border:solid 1px #e5e5e5;
	margin:0px 0px 30px 0px;
	padding:0px 0px 20px 20px;
}

#history > .list > .one > .content_1{
	
}

#history > .list > .one > .content_1 > .left_1{
	float:left;
	padding:10px 0px 0px 0px;
	font-size:16px;
}

#history > .list > .one > .content_1 > .left_2{
	float:right;
	margin:0px 20px 0px 0px;
}

#history > .list > .one > .content_1 > .left_2 > .banner_1{
	float:left;
	margin:-14px 0px 0px 0px;
}

#history > .list > .one > .content_1 > .left_2 > .banner_2{
	float:left;
	margin:-14px 0px 0px 0px;
}



.history_th{
	
	background:#f2f0f1;
	padding:10px;
	width:100px;
	
}

.history_th_2{
	
	background:#eae8e9;
	padding:10px;
	width:100px;
	
}

.history_td{
	
	border-bottom:solid 1px #f0f0f0;
	width:600px;
	padding:10px 10px 10px 10px;
	margin:0px 0px 0px 20px;
	
}

.history_td_2{
	
	width:600px;
	padding:10px 10px 10px 10px;
	margin:0px 0px 0px 20px;
	line-height:160%;
	
}

#history > .list > .one > .content_3{
	margin:20px 0px 0px 0px;
}

#history > .list > .one > .content_3 > .left_1{
	float:left;
}

#history > .list > .one > .content_3 > .left_2{
	float:left;
	margin:30px 0px 0px 0px;
}

#history > .list > .one > .content_3 > .left_3{
	float:left;
	background:#fcf1f7;
	padding:10px 20px 0px 20px;
	width:600px;
}

#history > .list > .one > .content_3 > .left_3 > .one_1{
	border-bottom:solid 1px #f0e1e8;
	color:#db9bbd;
	padding:0px 0px 10px 0px;
}

#history > .list > .one > .content_3 > .left_3 > .one_2{
	padding:10px 0px 20px 0px;
	line-height:160%;
}

.history_a_underline{
	/*
	text-decoration: underline;
	color:#a13d71;
	*/
}

/*--------------------------------------*/

#voice{
	
	margin:0px 30px 20px 30px;
	
}

#voice > .page_title{
	
	padding:10px 0px 10px 25px;
	font-size:16px;
	color:#fff;
	background-image: url(../../img/ssl/vip/history/title_bar.jpg);
	background-repeat: no-repeat;
	
}

#voice > .complete{
	
	text-align:center;
	font-size:16px;
	margin:50px 0px 100px 0px;
	
}

#voice > .content_1{
	
	margin:10px 0px 15px 0px;
	font-size:14px;
	
}

#voice > .content_2{
	
	border:solid 1px #e4e4e4;
	padding:10px 20px 15px 20px;
	
}

#voice > .content_2 > .one_1{
	
	margin:0px 0px 10px 0px;
	font-size:16px;
	
}

#voice > .content_2 > .one_2{
	
	
	
}

#voice > .content_2 > .one_2 > .left_1{
	
	float:left;
	background:#f2f0f1;
	border-bottom:solid 1px #f2f0f1;
	width:140px;
	padding:5px 0px 5px 10px;
	
}

#voice > .content_2 > .one_2 > .left_2{
	
	float:left;
	border-bottom:solid 1px #f2f2f2;
	margin:0px 0px 0px 20px;
	width:600px;
	padding:5px 0px 5px 0px;
	
}

#voice > .content_2 > .one_3{
	
	
	
}

#voice > .content_2 > .one_3 > .left_1{
	
	float:left;
	background:#eae8e9;
	width:140px;
	padding:5px 0px 5px 10px;
	
}

#voice > .content_2 > .one_3 > .left_2{
	
	float:left;
	margin:0px 0px 0px 20px;
	width:600px;
	padding:5px 0px 5px 0px;
	
}

#voice > .content_3{
	
	text-align:center;
	margin:20px 0px 10px 0px;
	
}

#vip_voice_textarea{
	
	height:140px;
	width:500px;
	
}

#voice > .content_4{
	
	margin:0px auto 0px auto;
	width:500px;
	
}

#voice > .content_5{
	
	margin:15px 0px 0px 300px;
	
}

#voice_publish_allow_therapist{
	
	float:left;
	
}

#voice > .content_6{
	
	margin:15px 0px 0px 300px;
	
}

#voice_publish_allow_site{
	
	float:left;
	
}

#voice > .content_7{
	
	width:160px;
	margin:20px auto 0px auto;
	
}

#voice > .content_8{
	
	width:440px;
	margin:30px auto 50px auto;
	line-height:160%;
	font-size:12px;
	
}

#voice > .content_9{
	
	margin:10px 0px 0px 300px;
	
}

#voice > .content_9 > .one_1{
	
	
	
}

#voice > .content_9 > .one_2{
	
	margin:5px 0px 0px 0px;
	
}

#voice > .content_9 > .one_3{
	
	margin:5px 0px 0px 0px;
	
}

/*--------------------------------------*/

#evaluation{
	
	margin:0px 30px 20px 30px;
	
}

#evaluation > .page_title{
	
	padding:10px 0px 10px 25px;
	font-size:16px;
	color:#fff;
	background-image: url(../../img/ssl/vip/history/title_bar.jpg);
	background-repeat: no-repeat;
	
}

#evaluation > .content_1{
	
	margin:10px 0px 15px 0px;
	font-size:14px;
	
}

#evaluation > .content_2{
	
	border:solid 1px #e4e4e4;
	padding:10px 20px 15px 20px;
	
}

#evaluation > .content_2 > .one_1{
	
	margin:0px 0px 10px 0px;
	font-size:16px;
	
}

#evaluation > .content_2 > .one_2{
	
	
	
}

#evaluation > .content_2 > .one_2 > .left_1{
	
	float:left;
	background:#f2f0f1;
	border-bottom:solid 1px #f2f0f1;
	width:140px;
	padding:5px 0px 5px 10px;
	
}

#evaluation > .content_2 > .one_2 > .left_2{
	
	float:left;
	border-bottom:solid 1px #f2f2f2;
	margin:0px 0px 0px 20px;
	width:600px;
	padding:5px 0px 5px 0px;
	
}

#evaluation > .content_2 > .one_3{
	
	
	
}

#evaluation > .content_2 > .one_3 > .left_1{
	
	float:left;
	background:#eae8e9;
	width:140px;
	padding:5px 0px 5px 10px;
	
}

#evaluation > .content_2 > .one_3 > .left_2{
	
	float:left;
	margin:0px 0px 0px 20px;
	width:600px;
	padding:5px 0px 5px 0px;
	
}

#evaluation > .content_3{
	
	text-align:center;
	margin:20px 0px 0px 0px;
	
}

#evaluation > .content_4{
	
	margin:20px 0px 0px 160px;
	
}

#evaluation > .content_4 > .left_1{
	
	float:left;
	font-size:16px;
	margin:10px 15px 0px 0px;
	font-weight:bold;
	
}

#evaluation > .content_4 > .left_2{
	
	float:left;
	
}

#evaluation > .content_4 > .left_2 > .star_skill{
	
	float:left;
	margin:0px 5px 0px 0px;
	
}

#evaluation > .content_4 > .left_2 > .star_service{
	
	float:left;
	margin:0px 5px 0px 0px;
	
}

#evaluation > .content_5{
	
	margin:30px 0px 0px 300px;
	
}

#evaluation > .content_7{
	
	width:160px;
	margin:20px auto 0px auto;
	
}

#evaluation > .content_8{
	
	width:440px;
	margin:30px auto 50px auto;
	line-height:160%;
	font-size:12px;
	
}

#evaluation_therapist_publish{
	
	float:left;
	
}

/*--------------------------------------*/

#clip{
	
	margin:0px 30px 20px 30px;
	
}

#clip > .page_title{
	
	padding:10px 0px 10px 25px;
	font-size:16px;
	color:#fff;
	background-image: url(../../img/ssl/vip/clip/title_bar.jpg);
	background-repeat: no-repeat;
	
}

#clip > .paging{
	
	margin:50px 0px 0px 0px;
	
}

#clip > .message{
	
	margin:15px 0px 10px 0px;
	line-height:160%;
	
}

#clip > .list{
	
	
	
}

#clip > .list > .title{
	
	
	
}

#clip > .list > .title > .left_1{
	
	float:left;
	background:#f2f0f1;
	padding:10px 0px 10px 0px;
	width:190px;
	text-align:center;
	margin:10px 0px 0px 0px;
}

#clip > .list > .title > .left_2{
	
	float:left;
	background:#eae8e9;
	padding:10px 0px 10px 0px;
	width:250px;
	text-align:center;
	margin:10px 0px 0px 0px;
	
}

#clip > .list > .title > .left_3{
	
	float:left;
	background:#f2f0f1;
	padding:10px 0px 10px 0px;
	width:120px;
	text-align:center;
	margin:10px 0px 0px 0px;
	
}

#clip > .list > .title > .left_4{
	
	float:left;
	margin:0px 0px 0px 40px;
	
}

#clip > .list > .one{
	
	
	
}

#clip > .list > .one > .one_1{
	
	float:left;
	border-bottom:solid 1px #efefef;
	height:70px;
	width:190px;
	
}

#clip > .list > .one > .one_1 > .left_1{
	
	float:left;
	height:60px;
	width:50px;
	overflow:hidden;
	margin:5px 0px 5px 20px;
	
}

#clip > .list > .one > .one_1 > .left_2{
	
	float:left;
	overflow:hidden;
	width:80px;
	height:35px;
	margin:20px 10px 0px 10px;
}

#clip > .list > .one > .one_1 > .left_3{
	
	float:left;
	margin:24px 0px 0px 0px;
	
}

#clip > .list > .one > .one_2{
	
	float:left;
	border-bottom:solid 1px #efefef;
	height:50px;
	width:250px;
	padding:20px 0px 0px 0px;
	
}

#clip > .list > .one > .one_2 > .left_1{
	
	float:left;
	margin:0px 0px 0px 10px;
	width:40px;
	
}

#clip > .list > .one > .one_2 > .left_2{
	
	float:left;
	width:60px;
	
}

#clip > .list > .one > .one_2 > .left_3{
	
	float:left;
	padding:0px 10px 0px 10px;
	width:10px;
	
}

#clip > .list > .one > .one_2 > .left_4{
	
	float:left;
	width:40px;
	
}

#clip > .list > .one > .one_2 > .left_5{
	
	float:left;
	width:60px;
	
}

#clip > .list > .one > .one_2 > .no_data{
	
	float:left;
	text-align:center;
	width:250px;
	
}

#clip > .list > .one > .one_3{
	
	float:left;
	border-bottom:solid 1px #efefef;
	height:50px;
	width:120px;
	text-align:center;
	margin:20px 0px 0px 0px;
	
}

#clip > .list > .one > .one_4{
	
	float:left;
	width:230px;
	margin:15px 0px 0px 20px;
	
}

/*--------------------------------------*/

#vip_reservation_title{
	
	margin:0px 0px 0px 30px;
	padding:10px 0px 10px 25px;
	font-size:16px;
	color:#fff;
	background-image: url(../../img/ssl/vip/reservation/title_bar.jpg);
	background-repeat: no-repeat;
	
}

/*--------------------------------------*/

#reservation_page{
	
	
	
}

#reservation_page > .page_title{
	
	margin:0px 0px 0px 30px;
	padding:10px 0px 10px 25px;
	font-size:16px;
	color:#fff;
	background-image: url(../../img/ssl/vip/reservation/title_bar.jpg);
	background-repeat: no-repeat;
	
}

#reservation_page > .error{
	
	margin:10px 0px 0px 0px;
	text-align:center;
	
}

#reservation_page > .message{
	
	margin:10px 0px 0px 30px;
	font-size:14px;
	
}

#reservation_page > .content_1{
	
	margin:20px 0px 0px 50px;
	padding:0px 0px 0px 0px;
	
}

#reservation_page > .content_1 > .title{
	
	border-left:solid 5px #b0015e;
	padding:3px 0px 3px 10px;
	font-size:16px;
	
}

#reservation_page > .content_1 > .content{
	
	margin:10px 0px 0px 0px;
	
}

#reservation_page > .content_1 > .content > .left_1{
	
	float:left;
	
}

#reservation_page > .content_1 > .content > .left_2{
	
	float:left;
	margin:0px 0px 0px 20px;
	
}

#reservation_page > .content_2{
	
	margin:20px 0px 0px 50px;
	padding:0px 0px 0px 0px;
	
}

#reservation_page > .content_2 > .title{
	
	border-left:solid 5px #b0015e;
	padding:3px 0px 3px 10px;
	font-size:16px;
	
}

#reservation_page > .content_2 > .message{
	
	margin:5px 0px 0px 0px;
	
}

#reservation_page > .content_2 > .content{
	
	
	
}

#reservation_page > .content_3{
	
	margin:20px 0px 0px 50px;
	padding:0px 0px 0px 0px;
	
}

#reservation_page > .content_3 > .title{
	
	border-left:solid 5px #b0015e;
	padding:3px 0px 3px 10px;
	font-size:16px;
	
}

#reservation_page > .content_3 > .content{
	
	margin:10px 0px 0px 0px;
	
}

#reservation_page > .content_4{
	
	margin:20px 0px 0px 50px;
	padding:0px 0px 0px 0px;
	
}

#reservation_page > .content_4 > .title{
	
	border-left:solid 5px #b0015e;
	padding:3px 0px 3px 10px;
	font-size:16px;
	
}

#reservation_page > .content_4 > .message{
	
	margin:5px 0px 5px 0px;
	
}

#reservation_page > .content_4 > .content{
	
	
	
}

#reservation_page > .content_4 > .content_2{
	
	margin:10px 0px 0px 0px;
	
}

#reservation_page > .content_5{
	
	margin:20px 0px 0px 50px;
	padding:0px 0px 0px 0px;
	
}

#reservation_page > .content_5 > .title{
	
	border-left:solid 5px #b0015e;
	padding:3px 0px 3px 10px;
	font-size:16px;
	
}

#reservation_page > .content_5 > .content{
	
	margin:10px 0px 0px 0px;
	
}

#reservation_page > .content_6{
	
	padding:40px 0px 50px 100px;
	
}

#reservation_page > .content_6 > .left_1{
	
	float:left;
	
}

#reservation_page > .content_6 > .left_2{
	
	float:left;
	padding:0px 0px 0px 40px;
	
}

#free_therapist{
	
	
	
}

#free_therapist > .one{
	
	float:left;
	margin:10px 0px 0px 0px;
	width:200px;
	height:45px;
	
}

#free_therapist > .one > .left_1{
	
	float:left;
	margin:10px 0px 0px 0px;
	
}

#free_therapist > .one > .left_2{
	
	float:left;
	height:45px;
	overflow:hidden;
	margin:0px 0px 0px 10px;
	
}

#free_therapist > .one > .left_3{
	
	float:left;
	margin:10px 0px 0px 5px;
	
}

/*--------------------------------------*/

#reservation_page_confirm{
	
	
	
}

#reservation_page_confirm > .page_title{
	
	margin:0px 0px 0px 30px;
	padding:10px 0px 10px 25px;
	font-size:16px;
	color:#fff;
	background-image: url(../../img/ssl/vip/reservation/title_bar.jpg);
	background-repeat: no-repeat;
	
}

#reservation_page_confirm > .error{
	
	margin:10px 0px 0px 0px;
	text-align:center;
	
}

#reservation_page_confirm > .message{
	
	margin:10px 0px 0px 30px;
	font-size:14px;
	
}

#reservation_page_confirm > .content_1{
	
	margin:30px 0px 0px 150px;
	padding:0px 0px 0px 0px;
	
}

#reservation_page_confirm > .content_1 > .title{
	
	border-left:solid 5px #b0015e;
	padding:3px 0px 3px 10px;
	font-size:16px;
	
}

#reservation_page_confirm > .content_1 > .content{
	
	margin:10px 0px 0px 20px;
	
}

#reservation_page_confirm > .content_1 > .content > .left_1{
	
	float:left;
	
}

#reservation_page_confirm > .content_1 > .content > .left_2{
	
	float:left;
	margin:0px 0px 0px 20px;
	
}

#reservation_page_confirm > .content_2{
	
	margin:20px 0px 0px 150px;
	padding:0px 0px 0px 0px;
	
}

#reservation_page_confirm > .content_2 > .title{
	
	border-left:solid 5px #b0015e;
	padding:3px 0px 3px 10px;
	font-size:16px;
	
}

#reservation_page_confirm > .content_2 > .message{
	
	margin:5px 0px 0px 0px;
	
}

#reservation_page_confirm > .content_2 > .content{
	
	margin:10px 0px 0px 20px;
	
}

#reservation_page_confirm > .content_2 > .content > .left_1{
	
	float:left;
	
}

#reservation_page_confirm > .content_2 > .content > .left_2{
	
	float:left;
	margin:10px 0px 0px 5px;
	
}

#reservation_page_confirm > .content_3{
	
	margin:20px 0px 0px 150px;
	padding:0px 0px 0px 0px;
	
}

#reservation_page_confirm > .content_3 > .title{
	
	border-left:solid 5px #b0015e;
	padding:3px 0px 3px 10px;
	font-size:16px;
	
}

#reservation_page_confirm > .content_3 > .content{
	
	margin:10px 0px 0px 20px;
	
}

#reservation_page_confirm > .content_4{
	
	margin:20px 0px 0px 150px;
	padding:0px 0px 0px 0px;
	
}

#reservation_page_confirm > .content_4 > .title{
	
	border-left:solid 5px #b0015e;
	padding:3px 0px 3px 10px;
	font-size:16px;
	
}

#reservation_page_confirm > .content_4 > .message{
	
	margin:5px 0px 5px 0px;
	
}

#reservation_page_confirm > .content_4 > .content{
	
	margin:10px 0px 0px 20px;
	
}

#reservation_page_confirm > .content_5{
	
	margin:20px 0px 0px 150px;
	padding:0px 0px 0px 0px;
	
}

#reservation_page_confirm > .content_5 > .title{
	
	border-left:solid 5px #b0015e;
	padding:3px 0px 3px 10px;
	font-size:16px;
	
}

#reservation_page_confirm > .content_5 > .content{
	
	margin:10px 0px 0px 20px;
	
}

#reservation_page_confirm > .content_6{
	
	padding:40px 0px 50px 200px;
	
}

#reservation_page_confirm > .content_6 > .left_1{
	
	float:left;
	
}

#reservation_page_confirm > .content_6 > .left_2{
	
	float:left;
	padding:0px 0px 0px 40px;
	
}

/*--------------------------------------*/

#vip_login_2{
	
	
	
}

#vip_login_2 > .page_title{
	
	margin:20px 0px 0px 30px;
	padding:10px 0px 10px 25px;
	font-size:16px;
	color:#fff;
	background-image: url(../../img/ssl/vip/reservation/title_bar.jpg);
	background-repeat: no-repeat;
	
}

#vip_login_2 > .error{
	
	text-align:center;
	color:red;
	margin:10px 0px 10px 0px;
	
}

#vip_login_2 > .content_1{
	
	margin:10px 0px 0px 30px;
	
}

#vip_login_2 > .content_2{
	
	margin:20px 0px 5px 295px;
	
}

#vip_login_2 > .content_3{
	
	margin:0px 0px 0px 230px;
	
}

#vip_login_2 > .content_3 > .left_1{
	
	float:left;
	margin:3px 0px 0px 0px;
	width:65px;
	
}

#vip_login_2 > .content_3 > .left_1{
	
	float:left;
	
}

#vip_login_2 > .content_4{
	
	margin:0px 0px 5px 295px;
	
}

#vip_login_2 > .content_5{
	
	margin:0px 0px 5px 230px;
	
}

#vip_login_2 > .content_5 > .left_1{
	
	float:left;
	margin:3px 0px 0px 0px;
	width:65px;
	
}

#vip_login_2 > .content_5 > .left_1{
	
	float:left;
	
}

#vip_login_2 > .content_6{
	
	margin:15px 0px 0px 330px;
	
}

#vip_login_2 > .content_7{
	
	margin:15px 0px 0px 330px;
	
}

#vip_login_2 > .content_7 > a{
	
	color:#bdbdbd;
	text-decoration: underline;
	
}

#vip_login_2 > .content_8{
	
	margin:20px 0px 0px 260px;
	
}

#vip_login_2 > .content_9{
	
	background:#fafafa;
	padding:15px 0px 15px 20px;
	line-height:160%;
	width:300px;
	margin:5px 0px 30px 260px;
	
}









