

/*----以下、VIP用セラピストカレンダ用----*/

#calendar_display_therapist_name_title{
	
	width:180px;
	
	background-color:#fcf1f7;
	
	color:#d7a1b9;
	
	padding-top:5px;
	padding-bottom:0px;
	padding-left:5px;
	border-right:solid 1px #e7e7e7;
	border-bottom:solid 1px #e7e7e7;
	
	height:28px;
	
	font-size:12px;
	
	position:absolute;
	top:0px;
	left:0px;
	z-index:999;
	
	text-align:center;
	
}

.table_title{
	
	float:left;
	
	width:75px;
	
	background-color:#4f81bd;
	color:#fff;
	text-align:center;
	padding-top:5px;
	padding-bottom:0px;
	border-right:solid 1px #e7e7e7;
	border-bottom:solid 1px #e7e7e7;
	
	height:28px;
	
	font-size:12px;
	
}

.table_title_2{
	
	float:left;
	
	width:151px;
	
	color:#fff;
	text-align:center;
	padding-top:5px;
	padding-bottom:0px;
	border-right:solid 1px #e7e7e7;
	border-bottom:solid 1px #e7e7e7;
	
	height:28px;
	
	font-size:12px;
	
}

.table_title_bg_color_1{
	
	background-color:#f2f0f1;
	color:#3f3d3e;
	
}

.table_title_bg_color_2{
	
	background-color:#eae8e9;
	color:#3f3d3e;
	
}

.therapist_calendar_bg_1{
	
	background:#fbfbfb;
	
}

.ichiretsu1_new{
	
	width:180px;
	
	background-color:#e9edf4;
	padding-top:5px;
	padding-bottom:0px;
	padding-left:5px;
	border-right:solid 1px #fff;
	border-bottom:solid 1px #fff;
	
	height:48px;
	
	font-size:10px;
	
}

.ichiretsu2_new{
	
	width:180px;
	
	background-color:#d0d8e8;
	padding-top:5px;
	padding-bottom:0px;
	padding-left:5px;
	border-right:solid 1px #fff;
	border-bottom:solid 1px #fff;
	
	height:48px;
	
	font-size:10px;
	
}

.ichiretsu_3{
	
	width:180px;
	padding-top:5px;
	padding-bottom:0px;
	padding-left:5px;
	border-right:solid 1px #e7e7e7;
	border-bottom:solid 1px #e7e7e7;
	
	height:60px;
	
	background:#fff;
	
}

.ichiretsu_3 > .left_1{
	
	float:left;
	width:15px;
	padding:20px 0px 0px 10px;
	
}

.ichiretsu_3 > .left_2{
	
	float:left;
	width:35px;
	padding:0px 10px 0px 10px;
	
}

.ichiretsu_3 > .left_3{
	
	float:left;
	width:89px;
	padding:18px 0px 0px 0px;
	
}

.ichiretsu_3 > .left_4{
	
	float:left;
	width:5px;
	padding:20px 0px 0px 0px;
	
}

.ichiretsu_4{
	
	width:180px;
	padding-top:20px;
	padding-bottom:0px;
	padding-left:5px;
	border-right:solid 1px #e7e7e7;
	border-bottom:solid 1px #e7e7e7;
	
	height:45px;
	
	font-size:12px;
	background:#fff;
	text-align:center;
	color:#3d3d3d;
	
}

.batsu1{
	
	float:left;
	
	width:75px;
	
	text-align:center;
	padding-bottom:0px;
	border-right:solid 1px #e7e7e7;
	border-bottom:solid 1px #e7e7e7;
	
	height:45px;
	padding-top:20px;
	
	font-size:10px;
	
}

.batsu2{
	
	float:left;
	
	width:75px;
	
	text-align:center;
	padding-bottom:0px;
	border-right:solid 1px #e7e7e7;
	border-bottom:solid 1px #e7e7e7;
	
	height:45px;
	padding-top:20px;
	
	font-size:10px;
	
}

.maru1{
	
	float:left;
	
	width:75px;
	
	text-align:center;
	
	padding-bottom:0px;
	border-right:solid 1px #e7e7e7;
	border-bottom:solid 1px #e7e7e7;
	
	height:45px;
	padding-top:20px;
	
	font-size:10px;
	
}

.maru2{
	
	float:left;
	
	width:75px;
	
	text-align:center;
	
	padding-bottom:0px;
	border-right:solid 1px #e7e7e7;
	border-bottom:solid 1px #e7e7e7;
	
	height:45px;
	padding-top:20px;
	
	font-size:10px;
	
}

.kuuran1{
	
	float:left;
	
	width:75px;
	
	padding-bottom:0px;
	border-right:solid 1px #e7e7e7;
	border-bottom:solid 1px #e7e7e7;
	
	height:60px;
	padding-top:5px;
	
}

.kuuran2{
	
	float:left;
	
	width:75px;
	
	padding-bottom:0px;
	border-right:solid 1px #e7e7e7;
	border-bottom:solid 1px #e7e7e7;
	
	height:60px;
	padding-top:5px;
	
}

.gyou_new{
	
	width:1871px;
	
}

#gyou_nichiji{
	
	width:1755px;
	position:absolute;
	left:186px;
	
}

#calendar_display_therapist_name{
	
	position:absolute;
	
	top:34px;
	
}

#calendar_display_new{
	
	padding:0px 0px 0px 0px;
	
	position:relative;
	
	width:820px;
	
	overflow-x:hidden;
	overflow-y:hidden;
	
}

#calendar_display_content{
	
	width:750px;
	
	overflow-x:scroll;
	overflow-y:scroll;
	
	/*padding:30px 0px 0px 70px;*/
	padding:34px 0px 0px 186px;
	
}

#calendar_display_left{
	
	float:left;
	width:70px;
	
}

#calendar_display_right{
	
	float:left;
	
}

/*----以上、VIP用セラピストカレンダ用----*/

#vip_menu{
	
	margin:10px 0px 20px 0px;
	
}

#vip_menu > .left_1{
	
	float:left;
	margin:20px 26px 0px 26px;
	
}

#vip_menu > .left_2{
	
	float:left;
	
}

#vip_menu > .left_3{
	
	float:left;
	
}

#vip_menu > .left_4{
	
	float:left;
	
}

#vip_menu > .left_5{
	
	float:left;
	
}

#vip_menu > .bar{
	
	
	
}

/*---------------------------*/

#therapist_calendar_page{
	
	margin:0px 30px 20px 30px;
	
}

#therapist_calendar_page > .page_title{
	
	padding:10px 0px 10px 25px;
	font-size:16px;
	color:#fff;
	background-image: url(../../img/ssl/vip/calendar/title_bar.jpg);
	background-repeat: no-repeat;
	
}

#therapist_calendar_page > .exp{
	
	color:#484848;
	line-height:160%;
	margin:15px 0px 0px 0px;
	
}

#therapist_calendar_page > .content_1{
	
	margin:0px 0px 10px 0px;
	
}

#therapist_calendar_page > .content_1 > .one_1{
	
	float:left;
	margin:30px 0px 0px 0px;
	
}

#therapist_calendar_page > .content_1 > .one_1 > .left_1{
	
	float:left;
	padding-top:3px;
	font-size:16px;
	
}

#therapist_calendar_page > .content_1 > .one_1 > .left_2{
	
	float:left;
	padding-left:5px;
	
}

#therapist_calendar_page > .content_1 > .one_3{
	
	float:left;
	margin:30px 0px 0px 100px;
	
}

#therapist_calendar_page > .content_1 > .one_4{
	
	float:left;
	margin:30px 0px 0px 30px;
	
}

.therapist_calendar_top_btn{
	padding:5px 10px 5px 10px;
}

#therapist_calendar_page > .content_1 > .one_2{
	
	float:right;
	
}

#therapist_calendar_page > .content_1 > .one_3{
	
	float:left;
	
}

#therapist_calendar_page > .content_1 > .one_4{
	
	float:left;
	
}

#therapist_calendar_page > .content_1 > .one_5{
	
	float:left;
	
}

#therapist_calendar_page > .bottom_move{
	
	
	
}

#therapist_calendar_page > .bottom_move > .left_1{
	
	float:left;
	margin:30px 0px 0px 300px;
	
}

#therapist_calendar_page > .bottom_move > .left_2{
	
	float:left;
	margin:30px 0px 0px 30px;
	
}

/*---------------------------*/



